<div><h1>The News!</h1></div>
<br>
<div class="row">

    {{#each article}}
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <li id={{_id}}><a href={{link}} target="_blank">{{title}}</a><br><br><button type="button"
                        class="btn btn-outline-secondary">Leave a Note</button>
            </div>
        </div>
    </div>
    {{/each}}
</div>